/* Глобални стилове */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Правилна настройка за тялото */
body, html {
    height: 100%;
    overflow: hidden;
}

/* Контейнер за съдържание */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Фон */
.background-clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Съдържание */
.content {
    text-align: center;
    z-index: 1; /* За да бъде над видеото */
}

.content h1 {
    font-size: 95px;
    color: #5EAE79;
    margin-bottom: 5px;
}

.content h2 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 40px;
}

/* Линкове */
.content a {
    font-size: 23px;
    color: #5EAE93;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px;
}

.content a:hover {
    background-color: #5EAE79;
    color: #000;
}

/* Мобилен изглед */
@media (max-width: 768px) {
    .content h1 {
        font-size: 50px;
    }

    .content h2 {
        font-size: 20px;
    }

    .content a {
        display: block; /* Вертикално подреждане */
        margin: 10px auto; /* Центриране */
        font-size: 18px;
    }
}

/* За таблети */
@media (min-width: 769px) and (max-width: 1024px) {
    .content h1 {
        font-size: 70px;
    }

    .content h2 {
        font-size: 25px;
    }

    .content a {
        font-size: 20px;
    }
}
